beautifulsoup4==4.13.4
blinker==1.8.2
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
flask==3.0.2
Flask-Cors==5.0.0
fonttools==4.57.0
frozendict==2.4.6
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
itsdangerous==2.2.0
jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.5
multitasking==0.0.11
mysql-connector-python==8.3.0
numpy==1.24.4
packaging==25.0
pandas==2.0.3
peewee==3.17.9
pillow==10.4.0
platformdirs==4.3.6
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2025.2
requests==2.32.3
scikit-learn==1.2.2
scipy==1.10.1
six==1.17.0
soupsieve==2.7
ta-lib @ file:///C:/Users/Admin/Downloads/ta_lib-0.6.3-cp38-cp38-win_amd64.whl
threadpoolctl==3.5.0
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
werkzeug==3.0.6
yfinance==0.2.56
zipp==3.20.2
